# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/

# ==========================
# Node.js / React / Vite
# ==========================
node_modules/
dist/
build/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Système
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Variables d'environnement
# ==========================
.env
.env.*

# ==========================
# Résultats générés
# ==========================
Résultats_détaillés_excel/*.xlsx
Résultats_détaillés_excel/*.csv

# ==========================
# Rapports (si tu ne veux pas les publier)
# ==========================
opti_rapport_final_G2.pdf

# ==========================
# Logs
# ==========================
*.log

optimiseur+interface/backend/exports/
optimiseur+interface/backend/saved_runs.json